header{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.lienAccueil{
    font-size: 24px;
    color: #FF6060;
    text-decoration: none;
}

.lienAPropos{
    font-size: 24px;
    color: #FF6060;
    text-decoration: none;
}

.conteneurLogoEtNavigation{
    width:90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.conteneurNavigation{
    list-style: none;
    padding:0px;
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
}

.conteneurDeTouteLaNavigation{
    width:30%;
}

.lienAccueil:hover{
    text-decoration: underline;
}

.lienAPropos:hover{
    text-decoration: underline;
}

.conteneurLogo, .logoHeader {
    width:210.32px;
    height: 68px;
}

.conteneurLienAccueil{
    margin-right: 26%;
}

/*--------------------------------Media Queries--------------------------------*/

@media all and (max-width: 1024px) {

    .conteneurLogoEtNavigation{
        justify-content: space-between;
    }

    .conteneurDeTouteLaNavigation{
        margin-left: 2%;
        flex:0.5;   
    }

    .conteneurLogo{
        flex:0.5;
    }

    .conteneurNavigation{
        justify-content: flex-end;        
    }

    .conteneurLienAccueil{
        margin-right: 4%;
    }

    header{
        margin-top: 10px;
    }

    .conteneurLogo, .logoHeader {
        width:145px;
        height: 47px;
    }

    .lienAccueil, .lienAPropos{
        font-size: 12px;
        text-transform: uppercase; /*Le texte est transformé en majuscule*/
    }
}


