.erreurMain {
    /*background-color: red;*/
    display: flex;
    flex-direction: column;
    align-items: center;
}

.conteneurTitreEtMessageErreur {
    /*background-color: aqua;*/
    display: flex;
    flex-direction: column;
    align-items: center;
}

.conteneurErreurLien {
    /*background-color: chartreuse;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 110px;
    margin-bottom: 100px;
}

.erreurTitre {
    color:#FF6060;
    font-size: 218px;
    font-weight: 900;
}

.erreurMessage {
    /*background-color: green;*/
    color:#FF6060;
    font-size: 30px;
    font-weight: 500;
    margin-top: -110px;
    text-align: center;
}

.erreurLienAccueil {
    color:#FF6060;
    font-size: 18px;
    font-weight: 500;
}

.erreurLienAccueil:hover {
    text-decoration: underline;
}

/*--------------------------------Media Queries--------------------------------*/

/*-------------------Mode 'Tablette'-------------------*/

@media all and (min-width: 376px) and (max-width: 1300px) {

   
}

/*-------------------Mobile type iPhone 6/7/8 iOS 11-------------------*/

@media all and (max-width: 376px) { 
    
    .erreurTitre {
        font-size: 96px;
        font-weight: 700;       
    }

    .erreurMessage {
        /*background-color: green;*/
        font-size: 18px;
        font-weight: 500;
        margin-top: -60px;
        margin-left: 0px;
        margin-right: 0px;
        text-align: center;       
    }

    .erreurTexte1 {
        display: block;
    }

    .erreurTexte2 {
        display: block;
    }

    .conteneurTitreEtMessageErreur {
        margin-top: 60px;
    }

    .conteneurErreurLien {
        /*background-color: chartreuse;*/
        margin-bottom: 180px;
    }

    .erreurLienAccueil {
        font-size: 14px;
        font-weight: 500;
    }
}