.imageBanniere {
    width: 1240px;
    height:100%;
    border-radius: 25px;
    object-fit: cover;
    filter:brightness(50%);
}

.conteneurBanniere {
    /*background-color: yellow;*/
    width: 1240px;
    height: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.texteBanniere {
    position:relative;
    bottom:170px;
    font-size: 48px;
    color: #FFFFFF;
}

.conteneurPrincipalBanniere {
    /*background-color: green;*/
    height: 223px;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.conteneurPrincipalBanniere2 {
    /*background-color: green;*/
    height: 223px;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*--------------------------------Media Queries--------------------------------*/

/*-------------------Mode 'Tablette'-------------------*/

@media all and (min-width: 376px) and (max-width: 1300px) {

    .conteneurBanniere {
        width:80%;
        align-items: flex-start;

    }

    .imageBanniere {
        width:100%;
    }

    .texteBanniere {
        /*background-color: blue;*/
        width:80%;
        bottom:230px;
        left:1px;       
    }
}

/*-------------------Mobile type iPhone 6/7/8 iOS 11-------------------*/

@media all and (max-width: 376px) {

    .conteneurBanniere {
        /*background-color: aqua;*/
        width:90%;
        height:100%;
        align-items: flex-start;
    }

    .imageBanniere {
        width:100%;
        height:100%;
        border-radius: 10px;
    }

    .texteBanniere {
        position:relative;
        bottom:100px;
        right: 40px;
        font-size: 24px;
        /*background-color: blue;*/
        width:60%;
    }

    .conteneurPrincipalBanniere {
        margin-top: 15px;
        height: 111px;       
    }

    .conteneurPrincipalBanniere2 {
        margin-top: 15px;
        height:223px;
    }
}