.card {
    border-radius: 10px;
    width:85%; /*même largeur que .imageCard*/
    height:340px; /*même hauteur que .imageCard*/
}

.imageCard {
    width:100%;
    height:340px;
    border-radius: 10px;
    position: relative;
    filter: brightness(75%);
}

.titreCard {
    width: 90%;
    position: relative;
    z-index:2;
    bottom:80px;
    left:20px;
    color:#FFFFFF;
    font-size: 18px;
}

a {
    text-decoration: none;
}

/*--------------------------------Media Queries--------------------------------*/

@media all and (max-width: 1024px) {

    .card {
        width:100%;
        margin-bottom: 20px;        
    }
}

